@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Georgian Drive,<br />
    Barrie<br />
    <abbr title="StudentNbr">200404362</abbr>
    Brittany Samuels
    Jordan
</address>

